@font-face {
    font-family: 'UTM-HelvstIns';
    src: url('../fonts/00119-UTM-HelvetIns.ttf');
    font-weight: normal;
    font-style: normal;
}

header.container-header{ background-color: rgb(61, 81, 140) !important; background-image: none !important; }
.header-right-box{ width:100px; position: relative; float: right; padding:30px; text-align: center; }
.header-right-box .user-state{ position: absolute; bottom:0px; font-size: 20px; color:#ccc; }
.sv-image{ width:80%; margin:10px auto;}
h2.text-name{ text-align:center; color:rgb(61, 81, 140) !important;}
table.svinfo tr th{ background-color: #f7f7f7;}
table.svinfo tr .sv-name{ background-color: inherit !important;}
.mod-footer{ margin: 0 auto; text-align: center; color: #ccc;}
.data-not-exist{position: relative; padding: 20px; text-align: center;}
.data-not-exist h4{ margin: 0 auto; color:#ccc;}
.footer .grid-child{ padding: 1rem 0.5em !important;}
.footer .grid-child .hotline{ margin-bottom: 0;}

/** css for Print Card **/
.text-sitename { margin-left: 90px;}
#cardBox { width: 800px; margin: 20px auto; background-color: rgba(41,84,149,0.92); position: relative; overflow: hidden; padding: 0 0 50px 0; border-radius: 10px;-moz-border-radius: 10px;}
.controlbox { width: 100%; position: relative; overflow: hidden; padding: 10px; margin-bottom: 50px; background-color:rgba(17,52,149,0.92); color: #ffffff;}
.controlbox #printBtn { padding: 5px 15px;}

/*#printCard {transform: scale(1.2);transform-origin: center center;}*/
.frameCard { position: relative; overflow: hidden; width: 85.60mm; height: 53.98mm; display: flex;border: 1px solid #ccc; border-radius: 15px;background-color: #ffffff; margin: 0 auto; padding-left: 20px; }
.studentCard {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 43.9mm;
    padding-top: 4px;
    margin-top: 12%;
    /*margin-bottom: 6%;*/
    /*padding: 5px;*/
    /*border: 1px solid #ccc;*/
}

.infobox { width:100%; position: relative; overflow: hidden; display: flex; height: 27mm; clear: both; }
.codebox { width: 100%; position: relative; bottom: 0px; display: flex; margin-top: -1mm; }
.img-barcode {
    position: relative;
    width: 25.4mm;
    display: flex;
}
.contain-img-box { align-items: center; }

.studentCard .imgBox {
    position: relative;
    width: 60px;
    height: 90px;
    margin-right: 10px;
    /*border: 1px solid #ccc;*/
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}
.studentCard .imgBox img{ max-width: 100%; margin: 0 auto; }


#draggable-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 0, 0, 0.6);
    display: none;
    pointer-events: none;
}

.studentCard .studentInfo {
    width: 60.6mm;
    font-size: 9px;
    margin-left: 0;
}

.margin-info { padding-top: 30px; }

.studentCard .studentInfo h4 {
    font-family: "Times New Roman";
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
    color: #ff0000;
    font-size: 13px;
    text-transform: uppercase;
}

.studentCard .studentInfo p {
    font-family: UTM-HelvstIns;
    color: #162240; /*162344*/
    margin-bottom: 2.5px;
}

.studentCard .studentInfo p > span {
    font-size: 10px;
    padding-left: 4px;
}

.studentCard .studentInfo p .fullName { text-transform: uppercase; font-size: 12px; padding-left:40px !important; font-weight: 580; }
.birthday {  padding-left:40px !important; font-weight: 480; }
.school { display: inline-flex;  padding-left:52px !important; font-weight: 480; }
.barcode, .qrcode {
    position: relative;
    overflow: hidden;
    padding: 0;
}

.barcode img {
    text-align: center;
    margin: 0 auto;
    display: flex;
    height: 6mm;
    /*max-width: 90%;*/
}

.qrcode img {
    height: 40px;
    position: relative;
    float: right !important;
    margin-right: 10px;
}

/** zoom image **/
#draggable-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

#draggable-image.zoomed {
    transform: scale(1.5);
    cursor: zoom-out;
}

/*.studentCard .studentInfo p > span.label { display: none;}*/
.eCard { background: url("../images/background_card.png") center no-repeat; background-size: cover; border: none;/* transform: scale(1.5);transform-origin: center center;*/}
.eCard .studentCard .studentInfo p > span.label { display: inline-flex; font-size: 8px; color: #227FC2; font-family: Tahoma; font-weight: 520; }
.eCard .studentCard .studentInfo p .fullName { padding-left:4px !important; }
.eCard .birthday { padding-left: 4px !important; }
.eCard .school { padding-left:4px !important; }

/** Ecard **/
#eCard {position: relative; width:600px; height: 380px; padding-left: 40px; margin-top: 40px; margin-bottom: 40px; background: url("../images/background_card.png") center no-repeat; background-size: cover; border: none; overflow: hidden;}
#eCard .studentCard .studentInfo p > span.label { font-size: 14px; color: #227FC2; font-family: Tahoma; font-weight: 520; }
#eCard .studentCard .studentInfo p .fullName { padding-left:4px !important; }
#eCard .birthday { padding-left: 4px !important; }
#eCard .school { padding-left:4px !important; }
#eCard .studentCard {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 275px;
    padding-top: 4px;
    margin-top: 12%;
}

#eCard .infobox { width:100%; position: relative; overflow: hidden; display: flex; height: 210px; clear: both; }
#eCard .codebox { width: 100%; position: relative; bottom: 0px; display: flex; margin-top: -1mm; }
#eCard .img-barcode {
    position: relative;
    width: 200px;
    display: flex;
}
#eCard .contain-img-box { align-items: center; }

#eCard .studentCard .imgBox {
    position: relative;
    width: 120px;
    height: 180px;
    margin-right: 10px;
    /*border: 1px solid #ccc;*/
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

#eCard .studentCard .studentInfo {
    width: 380px;
    font-size: 9px;
    margin-left: 0;
}

#eCard .margin-info { padding-top: 70px; }

#eCard .studentCard .studentInfo h4 {
    font-family: "Times New Roman";
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
    color: #ff0000;
    font-size: 13px;
    text-transform: uppercase;
}

#eCard .studentCard .studentInfo p {
    font-family: UTM-HelvstIns;
    color: #162240; /*162344*/
    margin-bottom: 6px;
}

#eCard .studentCard .studentInfo p > span {
    font-size: 17px;
    padding-left: 4px;
}

#eCard .studentCard .studentInfo p .fullName { text-transform: uppercase; font-size: 20px; padding-left:10px !important; font-weight: 580; }
#eCard .birthday {  padding-left:10px !important; font-weight: 480; }
#eCard .school { display: inline-flex;  padding-left:10px !important; font-weight: 480; }
#eCard .barcode, .qrcode {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
}

#eCard .barcode img {
    text-align: center;
    margin: 0 auto;
    display: flex;
    height: 32px;
    /*max-width: 90%;*/
}

#eCard .qrcode img {
    height: 60px;
    position: relative;
    float: right !important;
    margin-right: 10px;
}


/*****/

/*@media print {
    !*#printCard { border: none; margin: 0; padding: 0; width: 100%; height: auto; }
    .codebox { position: static !important; }

    .no-print {
        display: none;
    }
    #printCard { display: block; width: 100%; height: auto;}*!
    !*#printCard, #printCard * {
        display: block;
    }*!

    !*#printCard {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -40%);
    }*!
}*/
/*******End print card ***************/

@media (max-width: 768px) {
    h2.text-name { font-size: 25px !important; }
}

@media (max-width: 576px) {
    .container-header .navbar-brand{ padding-top:0 !important; }
    .container-header .navbar-brand a img{ max-width:45%; }
    .footer .grid-child{ padding:0.5rem !important; }
    .js-stools-container-bar .btn-toolbar{ flex-wrap: unset !important; }
}